
body {
    background-color: #d5d5d7;
    color: #87868c;
}
.compartment {
    background-color: white;
}
.blackbox {
    width: 100%;
    position: absolute;
    z-index: 0;
}
.heigth {
    height: 18em;
}
.myborder {
    border-style: dashed;
    border-color: lightgray;
}
.myshadow:hover {
    box-shadow: .5rem .5rem .7rem rgba(0,0,0,.15);
}

.first-quote {
    font-size: 1.3em;
}
.first-subtext {
    font-size: 1.1em;
    font-weight: 550;
}
.description {
    font-size: 1.15em;
}

@media (max-width: 576px){
    body {
        background-color: white;
    }
    .compartment {
        margin-left: 2em;
    }
    .statement {
        font-size: 1.82em;
    }
}
@media (min-width: 768px){
    .first-quote {
        font-size: 1.7em;
    }
    .first-subtext {
        font-size: 1.25em;
        font-weight: 550;
    }
    .description {
        font-size: 1.4em;
    }
    .heigth {
        height: 25em;
    }
    .statement {
        font-size: 3em;
    }
  }


